footer{
    background-color: rgb(34, 38, 42);
    width: 100%;
    height: auto;

}

.content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    box-sizing: border-box;
}


section.content{
    align-items: center;
}

h1.contacto{
    align-items: center;
}

.contacto{
    color:white;
    font-size:x-large;
}

.imgfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    }

.logofooter{
    margin-bottom: 8px;
}

.formato{
    background-color: #000;
}

.iconosfooter{
    padding: 5%;
    flex-direction: row;
    justify-content: center;

   
}
.iconosfooter a {
    margin: 0 10%; 
  }
.menufooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
    
    .navfooter{padding: 20px;
        margin: 20px;

    }

    .ul2{list-style: none;
        align-items: center;
        margin-bottom: 0px;

    }

    .linkfooter{
        color: white;
        text-decoration: none;
    }
    
    .linkfooter:hover{
        color: rgb(209, 202, 202);
        text-decoration: none;
        cursor: pointer;
    }
    .lifooter{
        font-family: 'Be Vietnam Pro', sans-serif; 
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 15px;
        text-decoration: none;
    }

    #copyright{color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
        margin-top: 4px;    
        margin-bottom: 4px;
    }
  
    .firma {
        display:flex;
        justify-content: center;
        text-align: center;
        text-align: center;
        background-color: #0aa8bd;
      }