.product-detail-container {
    padding-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .product-detail-card {
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
    
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .product-detail-card img {
    max-width: 80%;
    height: auto;
    margin-left: 10%;

  }
  
  .side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons-container {
    margin-top: 1rem;
  }
  
  .caracteristicas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0;
    
  }
  
  .caracteristicas-container > div {
    width: 100%;
    max-width: 400px;
    margin: 0 1rem;
    margin-bottom: 1rem;
    
  }
  
  .description-container {
width: 90%;
margin-left: 5%;

  }