.main-product-image {
    width: 100%;  /* Establece el ancho que desees */
    object-fit: cover; /* Para mantener la proporción de la imagen */
}
img.main-product-image  {
    width: 100%;  /* Establece el ancho que desees */
    object-fit: cover; 
    min-height: 400px;
}
.gallery-product-image{
    width: 100px;  /* Establece el ancho que desees */
    height: 100px; /* Establece el alto que desees */
    object-fit: cover; /* Para mantener la proporción de la imagen */
}
