/* Paleta de colores (del mas claro al mas oscuro)
#ecffff
#cffefe
#a6f9fb
#68f2f8
#24e1ec
#08c5d2
#0aa8bd
#0f7d8f
#166574
#175462
#083844
*/


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}