.card-container {
    @extend .card-generic;
    margin: 50px auto;
    width: 90%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
}
.form-control:focus {
    border-color:  $eastern-blue-700;
    box-shadow: 0 0 0 0.2rem rgb(169, 248, 246);
}