$eastern-blue-50: #ecffff;
$eastern-blue-100: #cffefe;
$eastern-blue-200: #a6f9fb;
$eastern-blue-300: #68f2f8;
$eastern-blue-400: #24e1ec;
$eastern-blue-500: #08c5d2;
$eastern-blue-600: #0aa8bd;
$eastern-blue-700: #0f7d8f;
$eastern-blue-800: #166574;
$eastern-blue-900: #175462;
$eastern-blue-950: #083844;

