
.sidebar-box {
 list-style-type: none;
 padding: 0px;
}
.sidebar-container {
    background-color: $eastern-blue-600;
    height: inherit;
    border-radius: 0px 15px 15px 0px;
}
hr {
    margin: 0px;
}